<div *ngIf="!(view ==='add-to-project' || view ==='add-to-comparison')">
  <div class="loading-box" *ngIf="loading">
    <app-loading></app-loading>
  </div>
  <div *ngIf="!loading">
    <div class="row title-model no-gutters align-items-center">
      <div class="col-lg-8">
        <div>
          <!--<a routerLink="/choose-model/{{ operationPointId }}">Choose model</a> | Operating point | {{ card.name }}-->
        </div>
      </div>
      <div class="col-lg-4">
        <app-display-options [selectedTab]="selectedTab"
                             [downloads]="links"></app-display-options>
      </div>
    </div>
    <hr class="title-line">
    <div class="row">
      <div class="col-lg-4">
        <button class="tab-button" [ngClass]="{'active': sections.main}" (click)="sections.main = !sections.main">
          MAIN CHART
        </button>
        <button class="tab-button" [ngClass]="{'active': sections.data}" (click)="sections.data = !sections.data">
          DATA SHEET
        </button>
        <button class="tab-button" [ngClass]="{'active': sections.sound}" (click)="sections.sound = !sections.sound">
          SOUND CHART
        </button>
      </div>
      <div class="col-lg-8">
        <app-operating-points-inputs
          [inputData]="operatingPointInputs"
          [graphDataInput]="inputData"
          (change)="getCalculate(id, $event)"></app-operating-points-inputs>
      </div>
      <div class="col-lg-4" *ngIf="sections.main">
        <div class="model">
          <app-fan-info [item]="card"></app-fan-info>
        </div>
        <div class="legend">
          <app-legend [options]="legend"></app-legend>
        </div>
      </div>
      <div class="col-lg-8" *ngIf="sections.main">
        <app-chart-area-component [canvasId]="'canvas1'"
                                  [chartSetData]="graphData"
                                  [interactive]="true"
                                  (points)="onPointSelected($event)"></app-chart-area-component>
        <div>
          <div class="info-box">
            {{ graphData?.notes }}
          </div>
        </div>
      </div>
      <div class="col-lg-7" *ngIf="sections.sound">
        <div *ngFor="let graph of graphs; let j = index">
          <div *ngIf="j === 1">
            <app-chart-performance-curve-component [canvasId]="'canvas'+graph.name"
                                                   [type]="'bar'"
                                                   [chartData]="graph">
              <div class="info-box">
                {{ graph.notes }}
              </div>
            </app-chart-performance-curve-component>
          </div>
        </div>
      </div>
      <div class="col-lg-5" *ngIf="sections.sound">
        <div class="sound-chart-options row">
          <div class="col-lg-12">
            <p>Fan position</p>
          </div>
          <div class="fan-positions col-lg-12">
            <button class="box"
                    *ngFor="let soundOption of soundOptions"
                    [ngClass]="[soundOption.id === selected ? 'active-option' : '']"
                    (click)="selected = soundOption.id">
              <span>
                <img src="/assets/images/fan.png" alt="">
              </span>
            </button>
          </div>

          <div *ngFor="let options of additionalOptions" class="additional-options col-lg-6">
            <app-switch-button [options]="options.options" [selected]="options.selected" (select)="options.selected = $event"></app-switch-button>
          </div>

          <div class="additional-options col-lg-6">
            <input type="text">
          </div>
          <div class="additional-options col-lg-6">
            <button class="button">REFRESH</button>
          </div>

        </div>
      </div>
      <div class="col-lg-12" *ngIf="sections.data">
        <div class="row">
          <div class="col-lg-4">
            <app-choose-model-table *ngIf="tables[0]" [tableData]="tables[0]"></app-choose-model-table>
          </div>
          <div class="col-lg-4">
            <app-choose-model-table *ngIf="tables[1]" [tableData]="tables[1]"></app-choose-model-table>
          </div>
          <div class="col-lg-4">
            <app-choose-model-table *ngIf="tables[2]" [tableData]="tables[2]"></app-choose-model-table>
          </div>
        </div>
      </div>
    </div>
    <div class="row operating-points-buttons">
      <!--<div class="col-lg-12 select-points">-->
      <!--Select Q / Ps operating point-->
      <!--</div>-->
      <div class="col-lg-4">
        <button class="button" (click)="addToComparisonFunc($event)">
          ADD TO COMPARE
        </button>
      </div>
      <div class="col-lg-4">
        <div class="project-section">
          <app-project-selection [projects]="projects" (close)="showProjectSelection = false"
                                 (selected)="addToProject($event)"></app-project-selection>
          <button class="button" (click)="showProjectSelection = true" [hidden]="showProjectSelection">
            ADD TO PROJECT
          </button>
        </div>
      </div>
      <div class="col-lg-4">
        <ng-container *ngFor="let download of links">
          <a *ngIf="download.name == 'TRANSLATE.OPERATING-POINT.GENERATE-CARD'" href="{{ download.link }}" download>
            <button class="button">
              GENERATE CARD
            </button>
          </a>
        </ng-container>
      </div>
    </div>
  </div>
</div>
