//:host {
//  display: block;
//  width: 68%;
//}

/* .wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: "model fan-table"
                       "graf fan-table";
}
.title-model {
  width: 100%;
  display: flex;
  border-bottom: 2px solid #cdcdcd;
  margin-top: 0;
}

.model {
  grid-area: model;
}
.graf{
  grid-area: graf;
}
.fan-table {
  grid-area: fan-table;
}
table {
  border: 1px solid black;
} */
@import "../../../assets/partials/variables.scss";

.title-model {
  width: 100%;
  display: flex;
  margin-top: 0;
}
.operating-points-buttons {
  margin-top: 50px;
  margin-bottom: 50px;
}
.button {
  background: #1E4686;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
}
.select-points {
  color: red;
  text-align: center;
  font-weight: 500;
}
.title-line {
  margin-top: 0;
  margin-bottom: 25px;
  border: 2px solid #cdcdcd;
}
