<div>
  <p class="title-model">Chose model | Operating point</p>
</div>
<div class="row">
  <div *ngFor="let containers of feature.featureObjects" class="{{containers.classUI}}">
    <div *ngFor="let child of containers.children">
      <div class="model" *ngIf="child.type==='card'">
        <app-fan-info [fanInfo]="child"></app-fan-info>
      </div>
      <div class="graf col-lg-12" *ngIf="child.type==='graph'">
        <app-chart-component [canvasId]="'canvas1'" 
          [chartData]="child" 
          [interactive]="true"
          (points)="onPointSelected($event)"
          ></app-chart-component>
      </div>
      <div *ngIf="child.type==='operatingPointsInputs'">
        <app-operating-points-inputs
          [inputData]="child"
          [graphDataInput]="graphData"
          (onChange)="onChange($event)"></app-operating-points-inputs>
      </div>
        <div *ngIf="child.type==='parameterList'">
          <app-parameter-list [inputData]="child"></app-parameter-list>
        </div>
    </div>
  </div>
  <div class="col-lg-12 operating-points-buttons row">
    <div class="col-lg-12 select-points">
      Select Q / Ps operating point
    </div>
    <div class="col-lg-4">
      <div class="button">
        ADD TO COMPARE
      </div>
    </div>
    <div class="col-lg-4">
      <div class="button">
        ADD TO PROJECT
      </div>
    </div>
    <div class="col-lg-4">
      <div class="button">
        GENERATE CARD
      </div>
    </div>
  </div>
</div>
