<ng-container *ngFor="let table of tables.children">
	<div class="outer-table" *ngIf="table.id === filterSelected">
		<ng-container *ngFor="let entry of table.children">
			<div class="one-table-header" *ngIf="entry.type == 'header'">
				<ng-container *ngFor="let row of entry.children">
					<div class="one-table-row {{row.classUI}}" *ngIf="!row.short">
						{{row.name}}
					</div>
					<div class="one-table-row {{row.classUI}}" *ngIf="row.short">
						<div class="col-lg-10">
							{{row.name}}
						</div>
						<div class="col-lg-2 right-text">
							{{row.short}}
						</div>
					</div>
				</ng-container>
			</div>
			<div class="one-table-entry" *ngIf="entry.type == 'entry'">
				<ng-container *ngFor="let row of entry.children">
					<div class="one-table-row {{row.classUI}}" *ngIf="row.image">
						<div class="x-button-outer" [style.background-color]="row.color"
						  (click)="deleteFromComparison.emit(entry.id)">
							<i class="fa fa-times" aria-hidden="true"></i>
						</div>
						<div class="image-outer">
							<img src="{{row.image}}">
						</div>
						<div>{{row.name}}</div> 
					</div>
					<div class="one-table-row {{row.classUI}}" *ngIf="!row.image">
						{{row.value}}
					</div>
				</ng-container>
			</div>
		</ng-container>
	</div>
</ng-container>
<!-- <div class="outer-table">
	<div class="one-table-header">
		<div class="one-table-row first-row">
		Operating Point
		</div>
		<div class="one-table-row no-gutters">
		<div class="col-lg-10">
			Air flow (m³/h)
		</div>
		<div class="col-lg-2 right-text">
			Q
		</div>
		</div>
		<div class="one-table-row no-gutters">
		<div class="col-lg-10">
			Static pressure (Pa)
		</div>
		<div class="col-lg-2 right-text">
			Ps
		</div>
		</div>
	</div>
	<div class="one-table-entry">
		<div class="one-table-row first-row">
		<div class="image-outer">
			<img src="http://13.93.51.225/hidria/Images/ACPlasticblades.png">
		</div>
		<div>R09-3030H-4M-2509</div> 
		</div>
		<div class="one-table-row">
		6200
		</div>
		<div class="one-table-row">
		110
		</div>
	</div>
</div> -->