<div class="one-table-header">
  <div class="one-table-row first-row">
    <button class="h-btn btn-default" (click)="clearAll.emit(true)">{{ 'TRANSLATE.COMPARISON.CLEAR_ALL' | translate }}</button>
  </div>
  <div class="one-table-row" *ngFor="let header of headers">{{ header }}</div>
</div>

<div style="overflow-x: scroll; display: flex">
  <div class="one-table-entry" *ngFor="let model of modelList; let i = index">
    <div class="one-table-row first-row">
      <div class="x-button-outer" [style.background-color]="model.color"
           (click)="deleteFromComparison.emit(i)">
        <i class="fa fa-times" aria-hidden="true"></i>
      </div>
      <div class="image-outer">
        <img src="{{ model.image }}">
      </div>
      <div>{{ model.name }}</div>
    </div>
    <ng-container>
      <ng-container *ngFor="let entry of model.data; let i = index">
        <ng-container *ngIf="filterSelected == i">
          <div class="one-table-row" *ngFor="let value of entry.data">
            {{ value.value }}
          </div>
        </ng-container>
      </ng-container>
    </ng-container>
  </div>
</div>

