button {
  font-family: 'Rajdhani', sans-serif;
  outline: none;
}

.mini-button {
  button {
    width: 20px;
    height: 20px;
    background-color: $main-color;
    border: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    img {
      width: 15px;
      filter: invert(100%);
    }
  }
}

.bottom-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 10px;
  outline: none;


  button {
    width: 48%;
    height: 80px;
    color: white;
    background: $main-color;
    font-size: 20px;
    border: none;
  }

  .disabled {
    opacity: 0.5;

  }
}
