.full-size {
	width: 100%;
}
.text-center {
  text-align: center;
}


.title-line {
  margin-top: 0;
  margin-bottom: 25px;
  border: 2px solid #cdcdcd;
}
.title {
  color: #1E4686;
}

.display-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.display-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
