.section-label {
  display: flex;
  align-items: center;

.tooltip {
    width: 13px;
    height: 13px;
    color: white;
    background: #1D4686;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    margin-left: 10px;

  &:hover .tooltiptext {
      visibility: visible;
    }

  .tooltiptext {
      visibility: hidden;
      min-width: 120px;
      width: auto;
      background: #1D4686;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 5px 0;

      /* Position the tooltip */
      position: absolute;
      z-index: 1;
      margin-left: 10px;
      margin-top: -10px;
    }
  }

}
