@import "../../../assets/partials/variables.scss";

//:host {
//  display: block;
//  width: 68%;
//}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: "model fan-table"
                       "graf fan-table";
}
.title-model {
  width: 100%;
  display: flex;
  border-bottom: 2px solid #cdcdcd;
  margin-top: 0;
}

.model {
  grid-area: model;
  padding-right: 15px;
}
.graf{
  grid-area: graf;
}
.fan-table {
  grid-area: fan-table;
}
table {
  border: 1px solid black;
}


