.wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: "model-info fan-table"
                       "graf fan-table";
}
.title-model {
  width: 1210px;
  display: flex;
  border-bottom: 2px solid #cdcdcd;
}

.model-img {
  float: left;
  height: 70px;
}
model-info{
  float: right;
  grid-area: model-info;
  display: flex;
}
.graf{
  grid-area: graf;
  display: block;
  overflow: hidden;
}
.fan-table {
  grid-area: fan-table;
}
.model{
  display: flex;
  border: 1px solid #cdcdcd;
  align-content: center;
}
