<div>
  <div class="loading-box" *ngIf="loading">
    <app-loading></app-loading>
  </div>
  <div *ngIf="!loading">
    <div>
      <p class="title-model">Choose model</p>
    </div>
    <div class="wrapper">
      <div class="model" *ngIf="features.card">
        <app-fan-info [fanInfo]="features.card"></app-fan-info>
      </div>
      <div class="graf">
        <app-chart-component
          *ngIf="features.graph"
          [canvasId]="'canvas1'"
          [setChartData]="features.graph"
          [toFill]="true"></app-chart-component>
        <div *ngIf="!features.graph">
          <h3>No graph to show</h3>
        </div>
      </div>
      <div class="fan-table">
        <div style="margin: 0 15px" class="row" *ngIf="features.table">
          <div>
            <div class="col-lg outer-button">
              <div class="button"
                   (click)="selectTab('nominal-data')"
                   [ngClass]="selectedTab == 'nominal-data' ? 'selected-tab' : ''">{{'TRANSLATE.NOMINAL-DATA' | translate}}</div>
            </div>
            <div class="col-lg outer-button">
              <div class="button"
                   (click)="selectTab('construction-data')"
                   [ngClass]="selectedTab == 'construction-data' ? 'selected-tab' : ''">{{'TRANSLATE.CONSTRUCTION-DATA' | translate}}</div>
            </div>
          </div>
          <app-choose-model-table-horizontal *ngIf="features.table[0][0] && this.selectedTab == 'nominal-data'"
                                             [tableData]="features.table[0][0]"
                                             (onModelSelected)="selectModel($event)"></app-choose-model-table-horizontal>
          <app-choose-model-table-horizontal *ngIf="features.table[0][1] && this.selectedTab == 'construction-data'"
                                             [tableData]="features.table[0][1]"
                                             (onModelSelected)="selectModel($event)"></app-choose-model-table-horizontal>
        </div>
        <!--<app-choose-model-table [tableData]="features.table[1]"></app-choose-model-table>-->
        <!--<app-tabs [tableData]="features.table"></app-tabs>-->
      </div>
    </div>
  </div>
</div>
