<div>
  <div class="loading-box" *ngIf="loading">
    <app-loading></app-loading>
  </div>
  <div *ngIf="!loading">
    <div>
      <p class="title-model">Choose model</p>
    </div>
    <div class="wrapper">
      <div class="model" *ngIf="features.card">
        <app-fan-info [fanInfo]="features.card"></app-fan-info>
      </div>
      <div class="graf" *ngIf="features.graph">
        <!--{{ features.graph | json }}-->
        <app-chart-component
          [canvasId]="'canvas1'"
          [setChartData]="features.graph"
          [toFill]="true"></app-chart-component>
      </div>
      <div class="fan-table">
        <div style="margin: 0 15px" class="row" *ngIf="features.table">
          <app-choose-model-table-horizontal *ngIf="features.table[0][0]"
                                             [tableData]="features.table[0][0]"
                                             (onModelSelected)="selectModel($event)"></app-choose-model-table-horizontal>
          <app-choose-model-table-horizontal *ngIf="features.table[0][1]"
                                             [tableData]="features.table[0][1]"
                                             (onModelSelected)="selectModel($event)"></app-choose-model-table-horizontal>
        </div>
        <!--<app-choose-model-table [tableData]="features.table[1]"></app-choose-model-table>-->
        <!--<app-tabs [tableData]="features.table"></app-tabs>-->
      </div>
    </div>
  </div>
</div>
