.project-section {
  width: 100%;
  display: block;

  .segment {
    align-items: center;
    display: none;

    .project-options {
      width: 100%;
      display: flex;

    }
  }
  .show-project-list {
    display: flex;
    flex-direction: column;
  }
}

button {
  width: calc(100% / 3) !important;
}
