<div class="card">
  <ul>
    <li *ngFor="let option of options; let i = index" [ngClass]="[types.length === limit && !isActiveType(option.code) ? 'disabled' : '']">

      <label class="container"><b>{{ i }} {{ option.name }}</b> {{ option.description }}
        <input type="checkbox"
               (click)="typeSelected.emit(option.code)"
               [disabled]="types.length === limit && !isActiveType(option.code)"
               [checked]="isActiveType(option.code)">
        <span class="checkmark"></span>
      </label>
    </li>
  </ul>
</div>
