.card {
  background: #EEF2F5;
  margin-bottom: 20px;
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;

  ul {
    list-style: none;
    width: 100%;

    li {
      margin-bottom: 10px;
    }
  }
}

.option {
  width: 20px;
  height: 20px;
  border: solid 1px black;
  float: right;
  margin-right: 10px;
  background: white;
}
.active {
  background: black;
}
.disabled {
  opacity: 0.2;
}
