@import "../../../assets/partials/variables.scss";

.title-outer {
    border: 1px solid $main-color;
    padding: 10px 0px 10px 0px;
}
.entry-number {
    color: #fff;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    height:30px;
    line-height: 30px;
    background-color: #1D4686;
}
.title {
    color: #1D4686;
    font-weight: 700;
    line-height: 30px;
    font-size: 18px;
}
.delete-project {
    font-size: 10px;
    font-weight: 600;
    cursor: pointer;
    line-height: 10px;
    padding: 0px 15px 0px 15px;
    text-align: center;
    & img {
        width: 100%;
    }
}
.descriptions {
    font-weight: 600;
    color: #666;
}
.description {
    font-weight: 400;
}