<div class="title-outer">
  <div class="row no-gutters">
    <div class="col-lg-1 entry-number">
      #{{project.id}}
    </div>
    <div class="col-lg-2 offset-lg-1 title">
      {{project.name}}
    </div>
    <div class="col-lg-1 offset-lg-7 delete-project">
      <img src="assets/icons/delete.png">
      <div>
        Delete
      </div>
      <div>
        project
      </div>
    </div>
  </div>
  <div class="row no-gutters descriptions">
    <div class="col-lg-4 offset-lg-2">
      <div>
        Construction
      </div>
      <div>
        Address
      </div>
      <div>
        Purchaser
      </div>
    </div>
    <div class="col-lg-4">
        <div>
          Projectant
        </div>
        <div>
          Business
        </div>
      </div>
  </div>
</div>