.one-project {
    border-top: 2px solid #1D4686;
    height: 80px;
    background-color: #fff;
    cursor: pointer;
}
.entry-number {
    background-color: #1D4686;
    width: 25%;
    height: 20px;
    line-height: 20px;
    padding-left:10px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
}
.project-name-outer {
    text-align: center;
}
.project-name {
    margin-top: 10px;
    font-weight: 700;
    font-size: 16px;
}
.project-created-outer {
    font-weight: 600;
}
.project-created {
    color: #999;
}