<div class="operating-points-container container">
  <div class="row input-row" *ngFor="let item of inputData; let i = index">
    <div class="col-lg-2">
      {{ item.name }}
      <div class="input-description">
        {{ item.description }}
      </div>
    </div>
    <div class="col-lg-8">
      <input type="number"
             [(ngModel)]="item.defaultValue"
             name="{{ item.id }}"
             class="input"
             (ngModelChange)="inputChanged()"
             [style.color]="item.color ? item.color : ''">

      <div *ngIf="i === 3" class="accordion" [ngClass]="{'show-accordion': showAccordion}">
        <div style="width: 100%" *ngFor="let obj of item.subparameter">
          <div class="col-lg-2 no-gutters">
            {{ obj.name }} {{ obj.description }}
          </div>
          <div class="col-lg-12 no-gutters">
            <input type="number"
                   [(ngModel)]="obj.defaultValue"
                   name="{{ obj.id }}"
                   class="input"
                   (ngModelChange)="inputChanged()"
                   [style.color]="obj.color ? obj.color : ''">
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="i === 3" class="col-lg-2 no-gutters">
      <button style="width: 30px; height: 30px" class="btn btn-default button" *ngIf="i === 3" (click)="showAccordion = !showAccordion; clearOptions()">+</button>
    </div>

  </div>
  <div class="row input-row">
    <input type="submit"
           style="cursor: pointer"
           [disabled]="changeButtonDisabled"
           class="change-button"
           value="calculate"
           [ngClass]="changeButtonDisabled ? 'change-button-disabled' : ''"
           (click)="changeClick()">
  </div>
</div>
