<div class="operating-points-container container">
  <div class="row input-row" *ngFor="let item of inputData.children; let i = index">
	  	<div class="col-lg-2">
	  		{{item.name}}
	  	</div>
	  	<div class="col-lg-8">
	  		<input type="text"
	  		  [(ngModel)]="graphData[i].value"
	  		  name="{{item.id}}"
	  		  class="input"
	  		  (ngModelChange)="inputChanged()"
	  		  [style.color]="item.color ? item.color : ''">
	  	</div>
	  	<div class="col-lg-2 input-description">
	  		{{item.description}}
	  	</div>
  </div>
  <div class="row input-row">
  	<input type="submit"
  	  [disabled]="changeButtonDisabled"
  	  class="change-button"
  	  value="calculate"
  	  [ngClass]="changeButtonDisabled ? 'change-button-disabled' : ''"
  	  (click)="changeClick()">
  </div>
</div>
