.operating-points-container {
	background: #EEF2F5;
	font-size: 15px;
	font-weight: 700;
	padding-top: 15px;
	padding-bottom: 30px;
  display: inline-block;
}
.input-row {
	margin-top: 15px;
	padding: 0 10px;
  width: 50%;
  float: left;
  display: flex;
  align-items: center;
}
.input-description {
	font-weight: 400;
}
.input {
	text-align: center;
	font-weight: 700;
	width: 100%;
}
.change-button {
	text-align: center;
	color: #fff;
	background: #1D4686;
	width: 100%;
	margin-top: 30px;
}
.change-button-disabled {
	opacity: 0.5;
}
