<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <div class="info-box">
        <div class="container">
          <div class="row border">
            <div class="col-6">
              <app-label-box [parameter]="{ description: 'First name' }"></app-label-box>
              <input class="full-size" [(ngModel)]="editData.firstName"/>
            </div>
            <div class="col-6">
              <app-label-box [parameter]="{ description: 'Last name' }"></app-label-box>
              <input class="full-size" [(ngModel)]="editData.lastName"/>
            </div>
            <div class="col-6">
              <app-label-box [parameter]="{ description: 'Email' }"></app-label-box>
              <input class="full-size" [(ngModel)]="editData.email"/>
            </div>
            <div class="col-6">
              <app-label-box [parameter]="{ description: 'Country' }"></app-label-box>
              <input class="full-size" [(ngModel)]="editData.country"/>
            </div>
            <div class="col-6">
              <app-label-box [parameter]="{ description: 'Company' }"></app-label-box>
              <input class="full-size" [(ngModel)]="editData.company"/>
            </div>
            <div class="col-6">
              <app-label-box [parameter]="{ description: 'Address' }"></app-label-box>
              <input class="full-size" [(ngModel)]="editData.address"/>
            </div>
            <div class="col-6">
              <app-label-box [parameter]="{ description: 'Industry' }"></app-label-box>
              <select class="full-size" [(ngModel)]="editData.industry">
                <option *ngFor="let value of registrationOptions.industry" [ngValue]="value.id">{{ value.name }}
                </option>
              </select>
            </div>
            <div class="col-6">
              <app-label-box [parameter]="{ description: 'Position' }"></app-label-box>
              <select class="full-size" [(ngModel)]="editData.position">
                <option *ngFor="let value of registrationOptions.position" [ngValue]="value.id">{{ value.name }}
                </option>
              </select>
            </div>
            <div class="col-12">
              <app-label-box [parameter]="{ description: 'Applications' }"></app-label-box>
              <ss-multiselect-dropdown [settings]="mySettings" [options]="myOptions" [(ngModel)]="optionsModel" (ngModelChange)="onChange($event)"></ss-multiselect-dropdown>
            </div>
          </div>
          <div class="row border">
            <div class="col-6">
              <app-label-box [parameter]="{ description: 'Password' }"></app-label-box>
              <input class="full-size" type="password" [(ngModel)]="editData.password"/>
            </div>
            <div class="col-6">
              <app-label-box [parameter]="{ description: 'Confirm password' }"></app-label-box>
              <input class="full-size" type="password" [(ngModel)]="editData.passwordRepeat"/>
            </div>
          </div>
          <div class="row" style="margin-top: 20px;">
            <button class="h-btn full-size btn-default">Confirm</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <h3>Lorem Ipsum dolor</h3>

      <div class="row" *ngFor="let options of additionalOptions">
        <div class="col-lg-4" style="display: flex; justify-content: flex-end">
          <p>{{options.type.toUpperCase()}}</p>
        </div>
        <div class="col-lg-6">
          <app-switch-button [options]="options.options" [selected]="adminOptions[options.type]"
                             (select)="adminOptions[options.type] = $event"></app-switch-button>
        </div>
        <div class="col-lg-2">
          <input placeholder="Factor" style="width: 100%" type="number" *ngIf="options.type === 'price' && adminOptions[options.type]">
        </div>
      </div>
    </div>
  </div>
</div>
