<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <div class="info-box"></div>
    </div>
    <div class="col-lg-6">
      <h3>Lorem Ipsum dolor</h3>
      <ul>
        <li>
          Admin
          <div class="group">
            <div class="sliding-el" id="sliding-el"></div>
            <div class="button-group">
              <button class="btn" (click)="moveSlider('yes')">Yes</button>
              <button class="btn" (click)="moveSlider('no')">No</button>
            </div>
          </div>
        </li>
        <li>
          Manager
          <div class="group">
            <div class="sliding-el" id="sliding-el"></div>
            <div class="button-group">
              <button class="btn" (click)="moveSlider('yes')">Yes</button>
              <button class="btn" (click)="moveSlider('no')">No</button>
            </div>
          </div>
        </li>
        <li>
          User
          <div class="group">
            <div class="sliding-el" id="sliding-el"></div>
            <div class="button-group">
              <button class="btn" (click)="moveSlider('yes')">Yes</button>
              <button class="btn" (click)="moveSlider('no')">No</button>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-lg-6">
      <div class="info-box">

        <svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="200" height="200" xmlns="http://www.w3.org/2000/svg">
          <circle class="circle-chart__background" stroke="#efefef" stroke-width="2" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
          <circle class="circle-chart__circle" stroke="#00acc1" stroke-width="2" stroke-dasharray="75,100" stroke-linecap="round" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
        </svg>
        <svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="200" height="200" xmlns="http://www.w3.org/2000/svg">
          <circle class="circle-chart__background" stroke="#efefef" stroke-width="2" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
          <circle class="circle-chart__circle" stroke="#00acc1" stroke-width="2" stroke-dasharray="75,100" stroke-linecap="round" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
        </svg>
      </div>
    </div>
    <div class="col-lg-6"></div>
  </div>
</div>
