<div>
	<div class="title">
		Add to project
	</div>
	<div class="row no-gutters">
		<div *ngFor="let container of feature.children" [class]="container.classUI">
			<div *ngFor="let row of container.children" class="row">
				<div  *ngFor="let element of row.children" [class]="element.classUI">
					<app-label-box [parameter]="element"></app-label-box>
					<app-feature-items [parameter]="parameter"
            			[name]="parameter.parameter"
            			[paramsForm]="paramsForm"></app-feature-items>
				</div>
			</div>
		</div>
	</div>
<div>
