@import "../../../assets/partials/variables.scss";

:host {
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  background-color: rgba(black, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
}

.modal-box {
  position: absolute;
  top: calc(50% - (300px / 2));
  left: calc(50% - (300px / 2));
  z-index: 1001;
  min-width: 300px;
  min-height: 300px;
  padding: 15px;
  background: #eff3f5;
}
