.search-outer {
    background-color: #d3d3d3;
    padding: 20px 10px 20px 10px;
}
.input {
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    width: 100%;
    height:35px;
}
.search-button, .sort-by-button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: #1D4686;
    height:35px;
    opacity: 0.5;
    cursor: pointer;
    & img {
        width: 100%;
    }
}
.search-button {
    width: 35px;
}
.sort-by-button {
    margin-top: 10px;
    opacity: 1;
    padding: 0px;
}
.sort-by-select, .sort-by-select option {
    background-color: #1D4686;
    color: #fff;
    text-align: center;
    font-weight: 600;
}
.input-outer {
    width: calc(100% - 35px);
}