<div>
  <div class="loading-box" *ngIf="loading">
    <app-loading></app-loading>
  </div>
  <div *ngIf="!loading">
    <div class="row no-gutters" *ngIf="comparisonList.length !== 0">
      <app-filters class="col-lg-12"
                   [filters]="filters"
                   [active]="filterSelected"
                   (filterSelected)="onFilterSelected($event)"></app-filters>

      <div class="col-lg-12">
        <app-comparison-table
          [headers]="tables[filterSelected]" [filterSelected]="filterSelected"
          [modelList]="comparisonList"
          (deleteFromComparison)="onDeleteFromComparison($event)"></app-comparison-table>
      </div>
    </div>
    <div class="row no-gutters" *ngIf="comparisonList.length === 0">
      <h1>There are no selected fans to compare!</h1>
    </div>
  </div>
</div>
