<div>
  <div class="loading-box" *ngIf="loading">
    <app-loading></app-loading>
  </div>
  <div *ngIf="!loading">
    <div class="row no-gutters">
      <app-filters class="col-lg-12"
      [filters]="[{id: 0, name: 'Operation'}, {id: 1, name: 'Nominal'}, {id: 2, name: 'Construction'}]" (filterSelected)="onFilterSelected($event)"></app-filters>

      <div class="col-lg-12">
        <app-comparison-table
          [headers]="tables[filterSelected]" [filterSelected]="filterSelected"
          [modelList]="comparisonList"
          (deleteFromComparison)="onDeleteFromComparison($event)"></app-comparison-table>
      </div>
    </div>
  </div>
</div>
