<div class="ui accordion">
  <div class="title">
    <label for="form-input">test</label>
    <input class="full-size" type="" name="form-input" value="test">
    <button id="accordion" class="accordion">+</button>
  </div>
  <div id="panel" class="panel">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>
</div>
