<div class="block" [ngClass]="{'removeMargin': isFirstChild}">
  <div class="block-form">
    <div *ngIf="section.header" class="select-header">
      <table class="table-buttons">
        <tbody>
          <tr *ngFor="let item of section.header">
            <td>
              <div *ngIf="item.type === 'select'">
                <label for="">{{item.label}}</label>
                <app-select-box
                  (value)="saveInputResult($event, item.id, item.type)"
                  [select]="item.options"></app-select-box>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="form-content">

      <app-title-box></app-title-box>

      <table class="table-buttons">
        <tbody *ngIf="section">
        <tr *ngFor="let item of section.formFields">
          <!--<td *ngIf="item.label">-->
          <!--{{item.label}}-->
          <!--</td>-->
          <td>
            <div *ngIf="item.type === 'accordion'">
              <app-accordion-input>
                <accordion-content>
                  <div>
                    <label for="">{{item.label}}</label>
                    <app-select-box
                      (value)="saveInputResult($event, item.id, item.type)"
                      [select]="item.options"></app-select-box>
                  </div>
                </accordion-content>
              </app-accordion-input>
            </div>
            <div *ngIf="item.type === 'select'">
              <label for="">{{item.label}}</label>
              <app-select-box
                (value)="saveInputResult($event, item.id, item.type)"
                [select]="item.options"></app-select-box>
            </div>
            <div class="switch-option-box" *ngIf="item.type === 'radio'">
              <div class="switch-option-label">
                <label for="">{{item.label}}</label>
              </div>
              <div class="switch-option-buttons">
                <app-switch-options
                  (value)="saveInputResult($event, item.id, item.type)"
                  [buttons]="item.options"></app-switch-options>
              </div>
            </div>
            <div *ngIf="item.type === 'input'">
              <label for="form-input">{{item.label}}</label>
              <input class="full-size" type="" name="form-input" [value]="item.value">
            </div>
          </td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
