<div class="block" [ngClass]="{'removeMargin': isFirstChild}">
  <div class="block-form">

    <div class="form-content">

      <app-title-box></app-title-box>

      <table class="table-buttons">
        <tbody *ngIf="featureObject">
          <tr *ngFor="let parameter of featureObject.parameters">
          <td class="space-bellow">
            <div *ngIf="parameter.tag === 'accordion'">
              <app-accordion-input>
                <accordion-content>
                  <div>
                    <label for="form-input">{{parameter.description}} <span *ngIf="parameter.unit">{{parameter.unit}}</span></label>
                    <app-select-box
                      (value)="saveInputResult($event, parameter.id, parameter.tag)"
                      [select]="parameter.options"></app-select-box>
                  </div>
                </accordion-content>
              </app-accordion-input>
            </div>
            <div *ngIf="parameter.tag === 'select'">
              <label for="form-input">{{parameter.description}} <span *ngIf="parameter.unit">{{parameter.unit}}</span></label>
              <app-select-box
                (value)="saveInputResult($event, parameter.id, parameter.tag)"
                [select]="parameter.options"></app-select-box>
            </div>
            <div class="switch-option-box" *ngIf="parameter.tag === 'radio'">
              <div class="switch-option-label">
                <label for="form-input">{{parameter.description}} <span *ngIf="parameter.unit">{{parameter.unit}}</span></label>
              </div>
              <div class="switch-option-buttons">
                <app-switch-options
                  (value)="saveInputResult($event, parameter.id, parameter.tag)"
                  [buttons]="parameter.options"></app-switch-options>
              </div>
            </div>
            <div *ngIf="parameter.tag === 'input'">
              <label for="form-input">{{parameter.description}} <span *ngIf="parameter.unit">{{parameter.unit}}</span></label>
              <input class="full-size" tag="" name="form-input" [value]="parameter.value">
            </div>
          </td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
