<div class="main-box">
  <div>
    <modal-content>
      <div class="password-reset">
        <div class="container">
          <div class="row border">
            <div class="col-12">
              <app-label-box [parameter]="{ description: 'Enter new password'}"></app-label-box>
              <input name="password" class="full-size" type="password" [(ngModel)]="changePasswordData.newPassword"/>
            </div>
          </div>
          <div class="row">
            <div class="function-buttons">
              <button class="btn full-size" (click)="onChangePasswordClicked()">CHANGE PASSWORD</button>
            </div>
          </div>
        </div>
      </div>
    </modal-content>
  </div>
</div>
