<div class="button-item">
  <button class="button-box" type="button"
          (click)="filterSelected.emit('all')"
          [ngClass]="{'button-box-active': 'all' === activeFilter}">
    All Models
    <span style="flex: 1 1 auto"></span>
    <span class="blue-box b-box-lit-1">{{totalModels()}}</span>
  </button>
  <button *ngFor="let filter of filters; let i = index" class="button-box" type="button"
          (click)="filterSelected.emit(filter.slug)"
          [ngClass]="{'button-box-active': 'button-box-active' === activeFilter}">
    {{filter.title}}
    <span style="flex: 1 1 auto"></span>
    <span class="blue-box b-box-lit-{{i + 1}}">{{filter.items.length}}</span>
  </button>
</div>
