<div class="row no-gutters">
  <div class="col-lg outer-button">
    <div class="button"
        (click)="this.tab.emit('diagrams')"
        [ngClass]="this.selectedTab == 'diagrams' ? 'selected-tab' : ''">DIAGRAMS</div>
  </div>
	<div class="col-lg outer-button">
		<div class="button"
         (click)="this.tab.emit('drawings')"
         [ngClass]="this.selectedTab == 'drawings' ? 'selected-tab' : ''">DRAWINGS</div>
	</div>
	<div class="col-lg outer-button">
		<div class="button"
         (click)="this.tab.emit('connections')"
         [ngClass]="this.selectedTab == 'connections' ? 'selected-tab' : ''"> CONNECTIONS</div>
	</div>
	<div class="col-lg outer-button">
		<div class="button"
         (click)="this.tab.emit('instructions')"
         [ngClass]="this.selectedTab == 'instructions' ? 'selected-tab' : ''">INSTRUCTIONS</div>
	</div>
	<div class="col-lg outer-button">
		<div class="button"
         (click)="this.tab.emit('data-sheet')"
         [ngClass]="this.selectedTab == 'data-sheet' ? 'selected-tab' : ''">DATA SHEET</div>
	</div>
</div>
