<div class="main-section">
  <div class="main-content">
    <div class="sidebar">
      <app-sidebar [isOpenedSearchByCode]="isOpenedSearchByCode" (toggleSearchByCode)="searchByCode($event)" [isLoggedIn]="loggedIn"></app-sidebar>
    </div>
    <div class="main">
      <app-header (changeMetricsClick)="onChangeMetrics($event)"
        (changeLanguage)="onChangeLanguage($event)"
        [selectedLanguage]="selectedLanguage"
        [measure]="measure"></app-header>
      <div class="router-outlet container">
        <div class="content-space">
          <router-outlet></router-outlet>
        </div>
        <div class="footer" angulartics2On="click" angularticsAction="DownloadClick">
          <app-footer></app-footer>
        </div>
        <app-notifications-component></app-notifications-component>
      </div>
    </div>
  </div>
  <simple-notifications></simple-notifications>
</div>
