.main-section {
  display: block;
  width: calc(100% - 20%);

  .main-content {
    display: flex;
    width: 100%;

    .sidebar {
      width: 20%;
    }
    .main {
      width: calc(100% - 20%);
    }
  }
}
