.main-section {
  display: block;
  width: 100%;

  .main-content {
    display: flex;
    width: 100%;

    .sidebar {
      width: 100px;
      position: absolute;
      z-index: 100;
    }
    .main {
      width: calc( 100% - 150px);
      margin-left: 150px;
    }
  }

}
.router-outlet{
  /* width: 80%; */
  margin-bottom: 20px;
}
.content-space{
  min-height: 600px;
}
.footer {
  margin-top: 60px;
}

// auth
@import "../../src/assets/partials/variables.scss";

.login {
  width: 350px;

  .title {
    color: $main-color;
    text-align: center;
  }

  .col-12 {
    margin: 10px 0;
  }
}
.login-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 350px;

  .login-btn {
    width: 30%;
    height: 20px;
    background: #cdcdcd;
    border: none;
    font-size: 11px;
    cursor: pointer;
  }
}

.register-buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .login-btn {
    width: 100%;
    height: 20px;
    background: #cdcdcd;
    border: none;
    font-size: 11px;
    cursor: pointer;
  }
}

.password-reset {
  width: 300px;

  .col-12 {
    margin: 10px 0;
  }
}

.border {
  border: solid 1px gray;
  padding: 15px 0;
  margin: 15px 0;
}

.function-buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;

  .btn {
    height: 50px;
    border: none;
    background: $main-color;
    color: white;
    cursor: pointer;
  }
  .disabled {
    opacity: 0.5;
  }
}

.center-elements {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.register {
  width: 550px;

  .title {
    color: $main-color;
    text-align: center;
  }

  .col-12 {
    margin: 10px 0;
  }
}
