<div class="main-section">
  <div class="main-content">
    <div class="sidebar" *ngIf="loggedIn">
      <app-sidebar></app-sidebar>
    </div>
    <div class="main">
      <app-header (changeMetricsClick)="onChangeMetrics($event)" [measure]="measure" *ngIf="loggedIn"></app-header>
      <div class="router-outlet container">
        <div class="content-space">
          <router-outlet></router-outlet>
        </div>
        <app-footer *ngIf="loggedIn"></app-footer>
        <app-notifications-component></app-notifications-component>
      </div>
    </div>
  </div>
</div>

