@import "../../../assets/partials/variables.scss";

:host {
  display: block;
  width: 100%;

  .filters {
    width: 100px;
    //padding-top: 5px;

    .filter-item {
      width: 90%;
      height: 90px;
      background: $main-color;
      opacity: 0.5;
      cursor: pointer;
      transition: ease .3s;
      color: white;
      display: flex;
      flex-direction: column;
      outline: none;

      &:hover {
        opacity: 0.8;
      }

      .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 70px;
        border: none;


        img {
          //margin: auto;
          border: none;
          outline: none;
          height: 70px;
          width: 80%;

        }
      }
      .text {
        //height: 30px;
        font-size: 12px;
        text-align: center;
        //font-weight: bold;
        padding-bottom: 5px;
      }
    }
    .active {
      opacity: 1;
    }
  }
}
