@import "../../../assets/partials/variables.scss";

:host {
  width: 100%;
  height: 100%;

  .section-top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    background: $main-color;

    .logo {
      display: block;
      width: 80%;

      img {
        width: 100%;
      }
    }
  }

  .filters {
    width: 100%;
    height: calc(100vh - 100px);
    background: gray;

    .filter-item {
      width: 100%;
      height: auto;
      background: transparent;
      opacity: 0.5;
      cursor: pointer;
      transition: ease .3s;
      color: white;
      display: flex;
      flex-direction: column;
      outline: none;

      &:hover {
        opacity: 0.8;
      }

      .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        height: auto;
        border: none;

        img {
          border: none;
          outline: none;
          height: auto;
          width: 100%;
        }
      }
      .text {
        font-size: 12px;
        text-align: center;
        padding-bottom: 5px;
      }
    }
    .active {
      background: darkgrey;
      opacity: 1;
    }
  }
}
