<div class="section-top">
  <div class="section-content"></div>
  <!-- <div class="track">
    <div class="logo">
      <img src="assets/images/hidria_logo.png">
    </div>
  </div> -->
</div>

<div class="filters">
  <div class="filter-item" routerLink="catalogue" routerLinkActive="active">
    <div class="icon">
      <img src="assets/images/Ikone-01.png">
    </div>
    <div class="text"></div>
  </div>
  <div class="filter-item" routerLink="parameter" routerLinkActive="active">
    <div class="icon">
      <img src="assets/images/Ikone-02.png">
    </div>
    <div class="text"></div>
  </div>
  <div class="filter-item" routerLink="my-projects" routerLinkActive="active">
    <div class="icon">
      <img src="assets/images/Ikone-05.png">
    </div>
    <div class="text"></div>
  </div>
  <div class="filter-item" routerLink="comparisons" routerLinkActive="active">
    <div class="icon">
      <img src="assets/images/Ikone-04.png">
    </div>
    <div class="text"></div>
  </div>
  <div class="filter-item" routerLink="search-by-code" routerLinkActive="active">
    <div class="icon">
      <img src="assets/images/Ikone-03.png">
    </div>
    <div class="text"></div>
  </div>
</div>
