<div class="filters">
  <div class="filter-item">
    <div class="icon">
      <img src="/assets/images/icon-fan.png">
    </div>
    <div class="text">ENGINE FROM CATALOG</div>
  </div>
  <div class="filter-item active">
    <div class="icon">
      <img src="/assets/images/icon-fan.png">
    </div>
    <div class="text">ENGINE FROM CATALOG</div>
  </div>
  <div class="filter-item">
    <div class="icon">
      <img src="/assets/images/icon-fan.png">
    </div>
    <div class="text">ENGINE FROM CATALOG</div>
  </div>
  <div class="filter-item">
    <div class="icon">
      <img src="/assets/images/icon-fan.png">
    </div>
    <div class="text">ENGINE FROM CATALOG</div>
  </div>
  <div class="filter-item">
    <div class="icon">
      <img src="/assets/images/icon-fan.png">
    </div>
    <div class="text">ENGINE FROM CATALOG</div>
  </div>
</div>
