<div class="login">
  <div class="container">
    <div class="row border">
      <div class="col-12">
        <h4 class="text-center">Member Login</h4>
      </div>
      <div class="col-12">
        <app-label-box [parameter]="{ description: 'Email'}"></app-label-box>
        <input class="full-size"/>
      </div>
      <div class="col-12">
        <app-label-box [parameter]="{ description: 'Password'}"></app-label-box>
        <input class="full-size"/>
      </div>
    </div>
    <div class="row">
      <div class="function-buttons">
        <button class="btn full-size">LOGIN</button>
      </div>
    </div>
  </div>
</div>

<div class="password-reset">
  <div class="container">
    <div class="row border">
      <div class="col-12">
        <app-label-box [parameter]="{ description: 'Enter your password'}"></app-label-box>
        <input class="full-size"/>
      </div>
      <div class="col-12">
        <app-label-box [parameter]="{ description: 'Enter new password'}"></app-label-box>
        <input class="full-size"/>
      </div>
      <div class="col-12">
        <app-label-box [parameter]="{ description: 'Confirm new password'}"></app-label-box>
        <input class="full-size"/>
      </div>
    </div>
    <div class="row">
      <div class="function-buttons">
        <button class="btn full-size">CHANGE PASSWORD</button>
      </div>
    </div>
  </div>
</div>

<div class="password-reset">
  <div class="container">
    <div class="row border">
      <div class="col-12">
        <img width="50" src="assets/images/cube.png" alt="">
        <h4>EMAIL</h4>
      </div>
      <div class="col-12">
        <app-label-box [parameter]="{ description: 'EMAIL'}"></app-label-box>
        <input class="full-size"/>
      </div>
    </div>
    <div class="row">
      <div class="function-buttons">
        <button class="btn full-size">RESET PASSWORD</button>
      </div>
    </div>
  </div>
</div>
