<div class="main-box">
  <div *ngIf="modalChangePassword">
    <modal-content>
      <div class="password-reset">
        <div class="container">
          <div class="row border">
            <div class="col-12">
              <app-label-box [parameter]="{ description: 'Enter your password'}"></app-label-box>
              <input class="full-size" type="password" [(ngModel)]="changePasswordData.oldPassword"/>
            </div>
            <div class="col-12">
              <app-label-box [parameter]="{ description: 'Enter new password'}"></app-label-box>
              <input class="full-size" type="password" [(ngModel)]="changePasswordData.newPassword"/>
            </div>
            <div class="col-12">
              <app-label-box [parameter]="{ description: 'Confirm new password'}"></app-label-box>
              <input class="full-size" type="password" [(ngModel)]="changePasswordData.mewPasswordConfirm"/>
            </div>
          </div>
          <div class="row">
            <div class="function-buttons">
              <button class="btn full-size" (click)="onChangePasswordClicked()">CHANGE PASSWORD</button>
            </div>
          </div>
        </div>
      </div>
    </modal-content>
  </div>

  <div *ngIf="modalLogin">
    <modal-content>
      <div class="login">
        <div class="container">
          <div class="row border">
            <div class="col-12">
              <h4 class="text-centlogin-buttonser title">Member Login</h4>
            </div>
            <div class="col-12">
              <app-label-box [parameter]="{ description: 'Email' }"></app-label-box>
              <input class="full-size" [(ngModel)]="loginData.userName"/>
            </div>
            <div class="col-12">
              <app-label-box [parameter]="{ description: 'Password' }"></app-label-box>
              <input class="full-size" type="password" [(ngModel)]="loginData.password"/>
            </div>
          </div>
          <div class="row">
            <div class="function-buttons">
              <button class="btn full-size" (click)="onLoginClicked()">LOGIN</button>
            </div>
          </div>
        </div>
      </div>
    </modal-content>
    <modal-footer>
      <div class="login-buttons">
        <button class="login-btn" (click)="goTo('register')">Create an account</button>
        <button class="login-btn" (click)="goTo('resetPassword')">Recover account</button>
      </div>
    </modal-footer>
  </div>

  <div *ngIf="modalResetPassword">
    <modal-content>
      <div class="password-reset">
        <div class="container">
          <div class="row border">
            <div class="col-12 center-elements">
              <img width="50" src="assets/images/cube.png" alt="">
              <h4>EMAIL</h4>
            </div>
            <div class="col-12">
              <app-label-box [parameter]="{ description: 'EMAIL'}"></app-label-box>
              <input class="full-size"  [(ngModel)]="restartPasswordData.email"/>
            </div>
          </div>
          <div class="row">
            <div class="function-buttons">
              <button class="btn full-size" (click)="onResetPasswordClicked()">RESET PASSWORD</button>
            </div>
          </div>
        </div>
      </div>
    </modal-content>
  </div>

  <div *ngIf="modalRegister">
    <modal-content>
      <div class="register">
        <div class="container">
          <div class="row border">
            <div class="col-12">
              <h4 class="text-centlogin-buttonser title">Register</h4>
            </div>
            <div class="col-6">
              <app-label-box [parameter]="{ description: 'First name' }"></app-label-box>
              <input class="full-size" [(ngModel)]="registerData.firstName"/>
            </div>
            <div class="col-6">
              <app-label-box [parameter]="{ description: 'Last name' }"></app-label-box>
              <input class="full-size" [(ngModel)]="registerData.lastName"/>
            </div>
            <div class="col-6">
              <app-label-box [parameter]="{ description: 'Email' }"></app-label-box>
              <input class="full-size" [(ngModel)]="registerData.email"/>
            </div>
            <div class="col-6">
              <app-label-box [parameter]="{ description: 'Country' }"></app-label-box>
              <input class="full-size" [(ngModel)]="registerData.country"/>
            </div>
            <div class="col-6">
              <app-label-box [parameter]="{ description: 'Company' }"></app-label-box>
              <input class="full-size" [(ngModel)]="registerData.company"/>
            </div>
            <div class="col-6">
              <app-label-box [parameter]="{ description: 'Address' }"></app-label-box>
              <input class="full-size" [(ngModel)]="registerData.address"/>
            </div>
            <div class="col-6">
              <app-label-box [parameter]="{ description: 'Industry' }"></app-label-box>
              <select class="full-size" [(ngModel)]="registerData.industry">
                <option *ngFor="let value of registrationOptions.industry" [ngValue]="value.id">{{value.name}}</option>
              </select>
            </div>
            <div class="col-6">
              <app-label-box [parameter]="{ description: 'Position' }"></app-label-box>
              <select class="full-size" [(ngModel)]="registerData.position">
                <option *ngFor="let value of registrationOptions.position" [ngValue]="value.id">{{value.name}}</option>
              </select>
            </div>
            <div class="col-12">
              <app-label-box [parameter]="{ description: 'Applications' }"></app-label-box>
              <select class="full-size" [(ngModel)]="registerData.applications">
                <option *ngFor="let value of registrationOptions.applications" [ngValue]="value.id">{{value.name}}</option>
              </select>
            </div>
          </div>
          <div class="row border">
            <div class="col-6">
              <app-label-box [parameter]="{ description: 'Password' }"></app-label-box>
              <input class="full-size" type="password" [(ngModel)]="registerData.password"/>
            </div>
            <div class="col-6">
              <app-label-box [parameter]="{ description: 'Confirm password' }"></app-label-box>
              <input class="full-size" type="password" [(ngModel)]="registerData.passwordRepeat"/>
            </div>
            <div class="col-12 center-elements-inline">
              <p>Accept <a href="">Terms and Conditions</a></p>
              <input type="checkbox" [(ngModel)]="registerData.termsAndConditions">
            </div>
            <div class="col-12 center-elements-inline">
              <re-captcha (captchaResponse)="handleCorrectCaptcha($event)" site_key="6Lcp4FcUAAAAAOFEZL2cVvH1Uf5g5QeMRSDRCUWm"></re-captcha>
            </div>
          </div>
          <div class="row">
            <div class="function-buttons">
              <button class="btn full-size" (click)="onRegisterClicked()">REGISTER</button>
            </div>
          </div>
        </div>
      </div>
    </modal-content>
    <modal-footer>
      <div class="register-buttons">
        <div>
          Already have account
        </div>
        <div>
          <button class="login-btn" (click)="goTo('login')">Sign in</button>
        </div>
      </div>
    </modal-footer>
  </div>
</div>
