<div class="main-box">
  <div *ngIf="modalChangePassword">
    <modal-content>
      <div class="password-reset">
        <div class="container">
          <div class="row border">
            <div class="col-12">
              <app-label-box [parameter]="{ description: 'Enter your password'}"></app-label-box>
              <input name="oldPassword" class="full-size" type="password" [(ngModel)]="changePasswordData.oldPassword"/>
            </div>
            <div class="col-12">
              <app-label-box [parameter]="{ description: 'Enter new password'}"></app-label-box>
              <input name="newPassword" class="full-size" type="password" [(ngModel)]="changePasswordData.newPassword"/>
            </div>
            <div class="col-12">
              <app-label-box [parameter]="{ description: 'Confirm new password'}"></app-label-box>
              <input name="newConfirmPassword" class="full-size" type="password" [(ngModel)]="changePasswordData.mewPasswordConfirm"/>
            </div>
          </div>
          <div class="row">
            <div class="function-buttons">
              <button class="btn full-size" (click)="onChangePasswordClicked()">CHANGE PASSWORD</button>
            </div>
          </div>
        </div>
      </div>
    </modal-content>
  </div>

  <div *ngIf="modalLogin">
    <modal-content>
      <div class="login">
        <div class="container">
          <div class="row border">
            <div class="col-12">
              <h4 class="text-centlogin-buttonser title">{{ 'TRANSLATE.LOGIN.MEMBER' | translate }}</h4>
            </div>
            <div class="col-12">
              <app-label-box [parameter]="{ description: 'TRANSLATE.LOGIN.EMAIL' }"></app-label-box>
              <input name="email" class="full-size" [(ngModel)]="loginData.userName" (keyup.enter)="onLoginClicked()"/>
            </div>
            <div class="col-12">
              <app-label-box [parameter]="{ description: 'TRANSLATE.LOGIN.PASSWORD' }"></app-label-box>
              <input name="password" class="full-size" type="password" [(ngModel)]="loginData.password" (keyup.enter)="onLoginClicked()"/>
            </div>
          </div>
          <div class="row">
            <div class="function-buttons">
              <button class="btn full-size" (click)="onLoginClicked()">{{ 'TRANSLATE.LOGIN.LOGIN' | translate }}</button>
            </div>
          </div>
        </div>
      </div>
    </modal-content>
    <modal-footer>
      <div class="login-buttons">
        <button class="login-btn" (click)="goTo('register')">{{ 'TRANSLATE.LOGIN.CREATE' | translate }}</button>
        <button class="login-btn" (click)="goTo('resetPassword')">{{ 'TRANSLATE.LOGIN.RECOVER' | translate }}</button>
      </div>
    </modal-footer>
  </div>

  <div *ngIf="modalResetPassword">
    <modal-content>
      <div class="password-reset">
        <div class="container">
          <div class="row border">
            <div class="col-12 center-elements">
              <img width="50" src="assets/images/cube.png" alt="">
              <h4>{{ 'TRANSLATE.LOGIN.EMAIL' | translate }}</h4>
            </div>
            <div class="col-12">
              <app-label-box [parameter]="{ description: 'TRANSLATE.LOGIN.EMAIL'}"></app-label-box>
              <input class="full-size"  [(ngModel)]="restartPasswordData.email"/>
            </div>
          </div>
          <div class="row">
            <div class="function-buttons">
              <button class="btn full-size" (click)="onResetPasswordClicked()">{{ 'TRANSLATE.LOGIN.RECOVER' | translate }}</button>
            </div>
          </div>
        </div>
      </div>
    </modal-content>
  </div>

  <div *ngIf="modalRegister">
    <modal-content>
      <div class="register">
        <div class="container">
          <div class="row border">
            <div class="col-12">
              <h4 class="text-centlogin-buttonser title">{{ 'TRANSLATE.REGISTER.REGISTER' | translate }}</h4>
            </div>
            <div class="col-6">
              <app-label-box [parameter]="{ description: 'TRANSLATE.REGISTER.FIRST_NAME' }"></app-label-box>
              <input name="firstName" class="full-size" [(ngModel)]="registerData.firstName"/>
            </div>
            <div class="col-6">
              <app-label-box [parameter]="{ description: 'TRANSLATE.REGISTER.LAST_NAME' }"></app-label-box>
              <input name="LatName" class="full-size" [(ngModel)]="registerData.lastName"/>
            </div>
            <div class="col-6">
              <app-label-box [parameter]="{ description: 'TRANSLATE.REGISTER.EMAIL' }"></app-label-box>
              <input name="email" class="full-size" [(ngModel)]="registerData.email"/>
            </div>
            <div class="col-6">
              <app-label-box [parameter]="{ description: 'TRANSLATE.REGISTER.COUNTRY' }"></app-label-box>
              <input name="country" class="full-size" [(ngModel)]="registerData.country"/>
            </div>
            <div class="col-6">
              <app-label-box [parameter]="{ description: 'TRANSLATE.REGISTER.COMPANY' }"></app-label-box>
              <input name="company" class="full-size" [(ngModel)]="registerData.company"/>
            </div>
            <div class="col-6">
              <app-label-box [parameter]="{ description: 'TRANSLATE.REGISTER.ADDRESS' }"></app-label-box>
              <input name="address" class="full-size" [(ngModel)]="registerData.address"/>
            </div>
            <div class="col-6">
              <app-label-box [parameter]="{ description: 'TRANSLATE.REGISTER.INDUSTRY' }"></app-label-box>
              <select name="industry" class="full-size" [(ngModel)]="registerData.industry">
                <option *ngFor="let value of registrationOptions.industry" [ngValue]="value.id">{{ value.name }}</option>
              </select>
            </div>
            <div class="col-6">
              <app-label-box [parameter]="{ description: 'TRANSLATE.REGISTER.POSITION' }"></app-label-box>
              <select name="position" class="full-size" [(ngModel)]="registerData.position">
                <option *ngFor="let value of registrationOptions.position" [ngValue]="value.id">{{ value.name }}</option>
              </select>
            </div>
            <div class="col-12">
              <app-label-box [parameter]="{ description: 'TRANSLATE.USERS.APPLICATIONS' }"></app-label-box>
              <!--<select class="full-size" [(ngModel)]="registerData.applications">-->
                <!--<option *ngFor="let value of registrationOptions.applications" [ngValue]="value.id">{{ value.name }}</option>-->
              <!--</select>-->
              <ss-multiselect-dropdown [settings]="mySettings" [options]="myOptions" [(ngModel)]="optionsModel" (ngModelChange)="onChange($event)"></ss-multiselect-dropdown>
            </div>
          </div>
          <div class="row border">
            <div class="col-6">
              <app-label-box [parameter]="{ description: 'TRANSLATE.REGISTER.PASSWORD' }"></app-label-box>
              <input name="password" class="full-size" type="password" [(ngModel)]="registerData.password"/>
            </div>
            <div class="col-6">
              <app-label-box [parameter]="{ description: 'TRANSLATE.REGISTER.CONFIRM_PASSWORD' }"></app-label-box>
              <input name="passwordRepeat" class="full-size" type="password" [(ngModel)]="registerData.passwordRepeat"/>
            </div>
            <div class="col-12 center-elements-inline">
              <p>{{ 'TRANSLATE.REGISTER.ACCEPT' | translate }} <a href="">{{ 'TRANSLATE.REGISTER.TERMS' | translate }}</a></p>
              <input name="termsAndConditions" type="checkbox" [(ngModel)]="registerData.termsAndConditions">
            </div>
            <div class="col-12 center-elements-inline">
              <re-captcha (captchaResponse)="handleCorrectCaptcha($event)" site_key="6Lcp4FcUAAAAAOFEZL2cVvH1Uf5g5QeMRSDRCUWm"></re-captcha>
            </div>
          </div>
          <div class="row">
            <div class="function-buttons">
              <button class="btn full-size" (click)="onRegisterClicked()">{{ thanksMessage ? 'THANK YOU' : 'TRANSLATE.REGISTER.REGISTER'}}</button>
            </div>
          </div>
        </div>
      </div>
    </modal-content>
    <modal-footer>
      <div class="register-buttons">
        <div>
          {{ 'TRANSLATE.REGISTER.ALREADY_HAVE_ACCOUNT' | translate }}
        </div>
        <div>
          <button class="login-btn" (click)="goTo('login')">{{ 'TRANSLATE.REGISTER.SIGN_IN' | translate }}</button>
        </div>
      </div>
    </modal-footer>
  </div>
</div>
