<div class="row no-gutters header">
  <div class="col-lg-1">
    No.
  </div>
  <div class="col-lg-1" title="{{ 'TRANSLATE.POSITION-NUMBER' | translate }}">
    Pos. No.
  </div>
  <div class="col-lg-6">
    {{ 'TRANSLATE.MODEL' | translate }}
  </div>
  <div class="col-lg-1">
    {{ 'TRANSLATE.ITEMS' | translate }}
  </div>
  <div class="col-lg-2">
    {{ 'TRANSLATE.NOTE' | translate }}
  </div>
  <div class="col-lg-1">

  </div>
</div>
<div class="row no-gutters" *ngFor="let model of modelList">
  <div class="col-lg-1 entry-box">
    {{ model.id }}
  </div>
  <div class="col-lg-1 entry-box">
    <input #position type="number" on-focusout="savePosition(position.value, model.id)" [value]="model.positionNumber">
  </div>
  <div class="col-lg-6 no-gutters model-box">
    <div class="row no-gutters">
      <div class="col-lg-3 image-outer fan-image">
        <img src="{{ model.image }}">
      </div>
      <div class="col-lg-6 title-outer">
        <div class="title">
          {{ model.name }}
        </div>
        <div class="description">
          {{ model.description }}
        </div>
      </div>
      <div class="col-lg-3 image-outer cursor-pointer">
        <a (click)="downloadFile.emit(model.id)" class="download-button">
            <img style="width: 40px" src="assets/images/download.png">
        </a>
      </div>
    </div>
  </div>
  <div class="col-lg-1 entry-box">
    <input #items type="number" on-focusout="saveItems(items.value, model.id)" [value]="model.count">
  </div>
  <div class="col-lg-2 entry-box textarea-outer">
    <textarea on-focusout="saveNote(textArea, model.id)" #textArea
      (click)="editNote(textArea)"
      class="disabled">{{ model.note }}</textarea>
  </div>
  <div class="col-lg-1 entry-box cursor-pointer" (click)="removeModel.emit(model.id)">
    <img style="width: 40px" src="assets/icons/delete.png">
  </div>
</div>
<div *ngIf="modelList.length === 0">
  NO MODELS FOUND IN THIS PROJECT
</div>
