<table>
  <thead>
  <tr>
    <th>
      No.
    </th>
    <th>
      Position No.
    </th>
    <th>
      Model
    </th>
    <th>
      Items
    </th>
    <th>
      Note
  </th>
    <th>
    </th>
  </tr>
  </thead>
</table>

<tbody>
<tr *ngFor="let model of selectedProject.children">
  <td>
    {{model.id}}
  </td>
  <td>
    <div class="row no-gutters">
      <div class="col-lg-3 image-outer">
        <img src="{{model.image}}">
      </div>
      <div class="col-lg-6 title-outer">
        <div class="title">
          {{model.name1}}
        </div>
        <div class="description">
          {{model.description1}}
        </div>
        <div class="title">
          {{model.name2}}
        </div>
        <div class="description">
          {{model.description2}}
        </div>
      </div>
      <div class="col-lg-3 image-outer cursor-pointer">
        <a href="{{model.link}}" download>
          <img src="assets/icons/Download.png">
        </a>
      </div>
    </div>
  </td>
  <td>
  </td>
  <td>
    1
  </td>
  <td>
  </td>
  <td>
    <img src="assets/icons/delete.png">
  </td>
</tr>

</tbody>
<div *ngIf="!selectedProject.children">
  NO MODELS FOUND IN THIS PROJECT
</div>
