<div class="row no-gutters header">
  <div class="col-lg-1">
    No.
  </div>
  <div class="col-lg-2">
    Position No.
  </div>
  <div class="col-lg-5">
    Model
  </div>
  <div class="col-lg-1">
    Items
  </div>
  <div class="col-lg-2">
    Note
  </div>
  <div class="col-lg-1">

  </div>
</div>
<div class="row no-gutters" *ngFor="let model of selectedProject.children">
  <div class="col-lg-1 entry-box">
    {{model.id}}
  </div>
  <div class="col-lg-2 entry-box">
    
  </div>
  <div class="col-lg-5 no-gutters model-box">
    <div class="row no-gutters">
      <div class="col-lg-3 image-outer">
        <img src="{{model.image}}">
      </div>
      <div class="col-lg-6 title-outer">
        <div class="title">
          {{model.name1}}
        </div>
        <div class="description">
          {{model.description1}}
        </div>
        <div class="title">
          {{model.name2}}
        </div>
        <div class="description">
            {{model.description2}}
        </div>
      </div>
      <div class="col-lg-3 image-outer cursor-pointer">
        <a href="{{model.link}}" download>
            <img src="assets/icons/Download.png">
        </a>
      </div>
    </div>
  </div>
  <div class="col-lg-1 entry-box">
    1
  </div>
  <div class="col-lg-2 entry-box">
    
  </div>
  <div class="col-lg-1 entry-box cursor-pointer">
    <img src="assets/icons/delete.png">
  </div>
</div>
<div *ngIf="!selectedProject.children">
  NO MODELS FOUND IN THIS PROJECT
</div>