<!--<div>-->
  <!--<table>-->
    <!--<thead>-->
    <!--<tr>-->
      <!--<th *ngFor="let row of tableData.data; let i = index" (click)="sortColumn()">{{ row.name }}</th>-->
    <!--</tr>-->
    <!--</thead>-->
    <!--<tbody>-->
    <!--<tr (click)="modelSelected.emit(tableData.data[0].value)">-->
      <!--<td *ngFor="let row of tableData.data; let i = index">{{ row.value }}</td>-->
    <!--</tr>-->
    <!--</tbody>-->
  <!--</table>-->
<!--</div>-->

<div>
  <input type="text" placeholder="{{ 'TRANSLATE.CHOOSE_MODEL.SEARCH' | translate }}" [(ngModel)]="search">
  <table>
    <thead>
    <tr>
      <th *ngFor="let title of tableData.headers.slice(1, tableData.headers.length)" (click)="sortData(title.code, orientation = !orientation)">{{ title.name }} <b>{{!orientation && title.code === sort ? '▲' : '▼'}}</b></th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of tableData.data | search:[tableData.headers.slice(1, tableData.headers.length), search] | sort:[sort, orientation]; let j = index" (click)="modelSelected.emit(item.id)">
        <ng-container *ngFor="let header of tableData.headers.slice(1, tableData.headers.length)">
          <td>{{ item[header.code] }}</td>
        </ng-container>
      </tr>
    </tbody>
  </table>
</div>
