<div class="container">
  <div class="">
    <h3 class="title">Users data management</h3>
    <hr class="title-line">
  </div>
  <div class="display-space-between">
    <input type="text" placeholder="Search" [(ngModel)]="search">
    <button class="h-btn btn-default btn-add-new">Add new User</button>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <app-users-table [tableData]="users"
                       [search]="search"
                       [isSelectable]="true" (delete)="onDeleteUser($event)" (ban)="onBanUser($event)"></app-users-table>
    </div>
  </div>
</div>
