<div>
  <div class="loading-box" *ngIf="!feature['FeatureName']">
    <app-loading></app-loading>
  </div>
  <div *ngIf="feature['FeatureName']">
    <div class="row no-gutter">
      <div class="col-lg-2">
          My Projects
      </div>
      <div class="col-lg-2">
          Add new project
      </div>
      <div class="col-lg-2">
          Add new fan
      </div>
    </div>
    <hr class="title-line">
    <div class="row no-gutter">
      <div *ngFor="let container of feature['featureObjects']" class="{{container.classUI}} no-gutter">
          <ng-container *ngFor="let child of container.children">
            <div *ngIf="child.type === 'search'">
              search
            </div>
            <div *ngIf="child.type === 'project-list'">
              project list
            </div>
            <div *ngIf="child.type === 'title'">
              title
            </div>
            <div *ngIf="child.type === 'model-list'">
              model list
            </div>
          </ng-container>
      </div>
    </div>
  </div>
</div>