<div *ngIf="!(view ==='create-project')">
  <div class="loading-box" *ngIf="loading">
    <app-loading></app-loading>
  </div>
  <div *ngIf="!loading">
    <div class="display-space-between">
      <h4>{{ 'TRANSLATE.MY-PROJECTS' | translate }} </h4>
      <div>
        <button *ngIf="selectedProject" class="h-btn btn-default btn-add-new" (click)="editProject()" style="margin-right: 10px">{{ 'TRANSLATE.PROJECTS.EDIT' | translate }}</button>
        <button class="h-btn btn-default btn-add-new" (click)="createProject()">{{ 'TRANSLATE.PROJECTS.CREATE' | translate }}</button>
      </div>
    </div>
    <hr class="title-line">
    <div class="row no-gutter">
      <div class="col-lg-3 no-gutters">
        <div>
          <app-search-my-projects [searchTerm]="searchTerm"
                (nameChange)="onNameChange($event)"
                (sortChange)="onSortChange($event)"></app-search-my-projects>
        </div>
        <div class="list-outer">
          <app-my-projects-list [projectsList]="projectsList"
                  (selectProject)="onSelectProject($event)"
                  [searchTerm]="searchTerm"
                  [sortBy]="sortBy">
                </app-my-projects-list>
        </div>
      </div>
      <div class="col-lg-9 no-gutters" *ngIf="!selectedProject">
        <h1>{{ 'TRANSLATE.PROJECTS.PLEASE_SELECT' | translate }}</h1>
      </div>
      <div class="col-lg-9 no-gutters" *ngIf="selectedProject">
        <div>
          <app-my-projects-title [project]="selectedProject"
            (deleteProject)="confirmDelete($event)" (getDatasheet)="getDatasheet()"></app-my-projects-title>
        </div>
        <div>
          <app-my-projects-model-list [modelList]="modelList"
            (removeModel)="confirmModelDelete($event)"
            (saveNoteEmitter)="onNoteSave($event)"
            (savePositionEmitter)="onPositionSave($event)"
            (saveItemsEmitter)="onItemsSave($event)"></app-my-projects-model-list>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="view ==='create-project'">
  <app-add-to-project (cancel)="view = ''; selectedProject = null"
                      [type]="'project'"
                      [editing]="editing"
                      [projectData]="selectedProject"
                      (postForm)="saveProject($event)"></app-add-to-project>
</div>

<app-modal #myModal [visible]="visible">
  <h2>Do you want to delete this project?</h2>
  <div class="delete-modal-buttons">
    <button class="h-btn btn-default" (click)="onDeleteProject()">Delete</button>
    <button class="h-btn" (click)="cancelDelition()">Cancel</button>
  </div>
</app-modal>

<app-modal #myItemModal [visible]="visible">
  <h2>Do you want to delete this item?</h2>
  <div class="delete-modal-buttons">
    <button class="h-btn btn-default" (click)="onRemoveModel()">Delete</button>
    <button class="h-btn" (click)="cancelItemDelition()">Cancel</button>
  </div>
</app-modal>
