<!--<app-header></app-header>-->

<!--<div class="main-section">-->
  <!--<app-sidebar></app-sidebar>-->

  <!--<div class="content">-->
    <!--<div class="forms-section">-->
      <!--<app-form-box>-->
        <!--<header>-->
          <!--<div class="select-header">-->
            <!--<app-select-box></app-select-box>-->
          <!--</div>-->
        <!--</header>-->
        <!--<body>-->
        <!--<div class="box">-->
          <!--<label for="form-input">Test</label>-->
          <!--<input class="full-size" type="" name="form-input">-->
        <!--</div>-->

        <!--<div class="box">-->
          <!--<label for="form-input">Test</label>-->
          <!--<input class="full-size" type="" name="form-input">-->
        <!--</div>-->
        <!--</body>-->
      <!--</app-form-box>-->

      <!--<app-form-box>-->
        <!--<body>-->
        <!--<app-select-box></app-select-box>-->
        <!--<app-select-box></app-select-box>-->
        <!--<app-select-box></app-select-box>-->
        <!--<div class="box">-->
          <!--<label for="form-input">Test</label>-->
          <!--<input class="full-size" type="" name="form-input">-->
        <!--</div>-->
        <!--<div class="box">-->
          <!--<label for="form-input">Test</label>-->
          <!--<input class="full-size" type="" name="form-input">-->
        <!--</div>-->
        <!--<div class="box">-->
          <!--<label for="form-input">Test</label>-->
          <!--<input class="full-size" type="" name="form-input">-->
        <!--</div>-->
        <!--</body>-->
      <!--</app-form-box>-->

      <!--<app-form-box>-->
        <!--<body>-->
        <!--<table class="table-buttons">-->
          <!--<tbody>-->
          <!--<tr>-->
            <!--<td>Test</td>-->
            <!--<td>-->
              <!--<app-switch-options [buttons]="section[0].buttons"></app-switch-options>-->
            <!--</td>-->
          <!--</tr>-->
          <!--<tr>-->
            <!--<td>Test</td>-->
            <!--<td>-->
              <!--<app-switch-options [buttons]="section[1].buttons"></app-switch-options>-->
            <!--</td>-->
          <!--</tr>-->
          <!--<tr>-->
            <!--<td>Test</td>-->
            <!--<td>-->
              <!--<app-switch-options [buttons]="section[1].buttons"></app-switch-options>-->
            <!--</td>-->
          <!--</tr>-->
          <!--<tr>-->
            <!--<td>Test</td>-->
            <!--<td>-->
              <!--<app-switch-options [buttons]="section[1].buttons"></app-switch-options>-->
            <!--</td>-->
          <!--</tr>-->
          <!--<tr>-->
            <!--<td>Test</td>-->
            <!--<td>-->
              <!--<app-switch-options [buttons]="section[1].buttons"></app-switch-options>-->
            <!--</td>-->
          <!--</tr>-->
          <!--<tr>-->
            <!--<td>Test</td>-->
            <!--<td>-->
              <!--<app-switch-options [buttons]="section[1].buttons"></app-switch-options>-->
            <!--</td>-->
          <!--</tr>-->
          <!--<tr>-->
            <!--<td>Test</td>-->
            <!--<td>-->
              <!--<app-select-box></app-select-box>-->
            <!--</td>-->
          <!--</tr>-->
          <!--</tbody>-->
        <!--</table>-->
        <!--</body>-->
      <!--</app-form-box>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<div class="content">
  <div class="forms-section">
    <app-form-box [isFirstChild]="true">
      <header>
        <div class="select-header">
          <app-select-box></app-select-box>
        </div>
      </header>
      <body>
      <div class="box">
        <label for="form-input">Test</label>
        <input class="full-size" type="" name="form-input">
      </div>

      <div class="box">
        <label for="form-input">Test</label>
        <input class="full-size" type="" name="form-input">
      </div>
      </body>
    </app-form-box>

    <app-form-box>
      <body>
      <app-select-box></app-select-box>
      <app-select-box></app-select-box>
      <app-select-box></app-select-box>
      <div class="box">
        <label for="form-input">Test</label>
        <input class="full-size" type="" name="form-input">
      </div>
      <div class="box">
        <label for="form-input">Test</label>
        <input class="full-size" type="" name="form-input">
      </div>
      <div class="box">
        <label for="form-input">Test</label>
        <input class="full-size" type="" name="form-input">
      </div>
      </body>
    </app-form-box>

    <app-form-box>
      <body>
      <table class="table-buttons">
        <tbody>
        <tr>
          <td>Test</td>
          <td>
            <app-switch-options [buttons]="section[0].buttons"></app-switch-options>
          </td>
        </tr>
        <tr>
          <td>Test</td>
          <td>
            <app-switch-options [buttons]="section[1].buttons"></app-switch-options>
          </td>
        </tr>
        <tr>
          <td>Test</td>
          <td>
            <app-switch-options [buttons]="section[1].buttons"></app-switch-options>
          </td>
        </tr>
        <tr>
          <td>Test</td>
          <td>
            <app-switch-options [buttons]="section[1].buttons"></app-switch-options>
          </td>
        </tr>
        <tr>
          <td>Test</td>
          <td>
            <app-switch-options [buttons]="section[1].buttons"></app-switch-options>
          </td>
        </tr>
        <tr>
          <td>Test</td>
          <td>
            <app-switch-options [buttons]="section[1].buttons"></app-switch-options>
          </td>
        </tr>
        <tr>
          <td>Test</td>
          <td>
            <app-select-box></app-select-box>
          </td>
        </tr>
        </tbody>
      </table>
      </body>
    </app-form-box>
  </div>
</div>

