<footer>
  <div class="footer">
    <div class="footer-logo">
      <a href="https://ideasoftware.ba/">
        <img src="assets/images/idea.png" alt="">
      </a>
    </div>
    <div class="footer-info">
      <p>Copyright Idea d.o.o.</p>
      <p>Muse Cazima Catica 6, Sarajevo 71000, Bosnia and Herzegovina</p>
      <p>T: +387 33 842 120 </p>
      <p>F: +387 33 842 120 </p>
      <p>E: info@ideasoftware.ba</p>
      <p><a class="link" href="https://ideasoftware.ba/">https://ideasoftware.ba/</a></p>
    </div>
  </div>
</footer>

