.footer{
  padding: 10px 300px;
  display: flex;

}
.footer-info{
  display: flex;
  justify-content: space-between;
  color: #87a0c0;
  border-bottom: 3px solid #87a0c0 ;
  font-size: 12px;
}
.footer-logo{
}
