<footer>
  <div class="footer">
    <div class="footer-logo">
      <a href="http://www.hidria.com">
        <img src="assets/images/idea.png" alt="">
      </a>
    </div>
    <div class="footer-info">
      <p>Copyright Hidria Rotomatika d.o.o.</p>
      <p>Spodnja Kanomlja 23 5281 Spodnja Idrija Slovenia</p>
      <p>T: +386 5 375 6000</p>
      <p>F: +386 5 375 6471 </p>
      <p>E: isales.movement@hidria.com</p>
      <p><a class="link" href="www.hidria.com">www.hidria.com</a></p>
    </div>
  </div>
</footer>

