.footer{
  width: 100%;
  display: flex;
}
.footer-info{
  width: calc(100% - 115px);
  display: flex;
  justify-content: space-between;
  color: #87a0c0;
  border-bottom: 3px solid #87a0c0 ;
  font-size: 12px;
}
.footer-logo{
  width: 100px;
  margin-right: 15px;

  img {
    width: 100%;
  }
}
